<template>
    <div class="coming-soon">
        <div class="pageHeader">
        <h1>Upcoming/Requested Features</h1>
        <p class="lead">
  This is a lead paragraph. It stands out from regular paragraphs.
</p>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <button type="button" class="btn btn-success">Request A New Feature</button>
    </li>
  </ul>
</div>
</div>
        <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">1-3 Word Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <th scope="row">1</th> -->
      <!-- <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td> -->
    <!-- </tr> -->
  </tbody>
</table>
    </div>
</template>
<style scoped>
.coming-soon {
    margin: 90px;
}
.pageHeader {
    text-align: left;
}
</style>