<template>
    <div id="recentSearchContainer" class="noScrollbar">
        <div id="rscHeader">
            <div>Searches:</div><button @click="toggleShowRecentSearches()" type="button"
                class="btn btn-danger">Close</button>
        </div>
        <div>
            <table class="table table-dark table-hover">


                <thead>
                    <tr>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="search in recentSearches.slice().reverse()">
                        <th scope="row">{{ `${search.addressData.street_number} ${search.addressData.route}, ${search.addressData.locality}` }}</th>
                        <td><button class="btn btn-success">GO</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<style>
div#recentSearchContainer {
    /* display: grid; */
    position: absolute;
    right: 0;
    top: 0;
    background: #111111;
    max-height: 100vh;
    overflow: auto;
}

div#rscHeader {
    display: flex;
}
</style>
<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
    methods: {
        ...mapMutations([
            'toggleShowRecentSearches'
        ]),
    }, computed: {
        ...mapGetters([
            'recentSearches'
        ])
    }
}
</script>